.page{
    /* font-size: 20px; */
    width: 750px;
    height: 2050px;
    /* border: 1px solid #000; */
    padding: 15px;
    position: absolute;
    background-color: #f5fafe;
    /* border-radius: 3rem; */
  
  }
.mp-userinfo__pic img{
    border-radius: 8px 8px 0 0 ;
}
.mp-userinfo__pic
{
 width: 345px;
 height: 200px; 
position: absolute;
background-size: cover;
border-radius: 8px 8px 0 0;
}
.mp-userinfo{
    width: 345px;
    height: 330px;
    background-color: #fff;
    border-radius: 8px;
}
.mp-userinfo__name img{
    width: 15px;
    height: 15px;
    position: relative;
}

